p{
    text-align: center;
    }
    h1 {
        text-align: right;
        }
        #test {
            color: red;
            }
            #test2 {
                color: blue;
                font-family: Verdana;
                }
                .maclasse {
                    color: green;
                    }
                                